
langchain
python-dotenv
ipykernel
langchain-community
langchain-text-splitters
langchain_chroma
langchain_huggingface
faiss-cpu
langchain-groq
langchain-core
sentence_transformers
pypdf
streamlit==1.37.1
langchain==0.2.12
langchain-community==0.2.11
